:root {
    --amarillo:#EAB75B;
    --arena:#F0E0C4;
    --azul:#155094;
    --celeste:#84C8E2;
    --gris-oscuro:#9b9b9b;
    --gris-claro:#F4F4F4;
    --verde:#39b54a;
}
*{
    margin:0;
    padding: 0;
    box-sizing: border-box;
}
body{
    font-family: 'Roboto', sans-serif;
    width: 100%;
    background-color: var(--gris-claro);
    background-color: white;
}

main{
    width: 100%;
    max-width: 1200px;
    padding: 15px 20px;
    margin: 0 auto;
}

.action-button {
    border: none;
    border-radius: 8px;
    font-size: 1.2em;
    color: #ffffff;
    display: inline-flex;
    align-items: center;
    justify-content: center;
    padding: 15px 30px;
    margin-top: 15px;
  }
  
  .action-button.edit {
    background-color: chocolate;
  }
  .action-button.delete {
    background-color: rgb(248, 69, 37);
  }
  
/*estilos header*/
header{
    background-color: black;
    color: white;
    height: 60px;
    display: flex;
    padding: 10px;
    justify-content: space-between;
    align-items: center;
    box-shadow: 0 0 2px #071c33;
}
header form{
    display: none;
}
.header-right i{
    padding: 8px;
    font-size: 20px;
}
.icono-menu{
    font-size: 35px;
    font-weight: 600;
    
}
.registrarse, .ingresar{
display: none;
}
.link-cart, .link-user{
    color: white;
    text-decoration: none;
}

/*Fin estilos header*/


/*********Estilos Register******************/
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


  

.form-register {
    width: 400px;
    background-color: #E5D1AF;
    padding: 30px;
    margin: 19px 61% 1em;  
    border-radius: 4px;
    font-family: "calibri";
    color: white;
    box-shadow: 7px 13px 37px #5B5243;
}

.fondo-formularios {
    background: url("/images/mkln_cksld.jpg");
    width: 100%;
    padding: 20px 0px;
  }
  

.form-register h4{
    font-size: 22px;
    margin-bottom: 20px;
}

.controls{
    width: 100%;
    background: #E5D1AF;
    padding: 10px;
    border-radius: 4px;
    margin-bottom: 16px;
    border: 1px solid#AC9D82 ;
    font-family: "calibri";
    font-size: 18px;
}

.form-register p {
    height: 40px;
    text-align:center;
    font-size: 18px;
    line-height: 40px;
}

.form-register a:hover{
    color: white;
    text-decoration: underline;
}

.form-register .botons{
    width: 100%;
    border: none;
    padding: 12px;
    color: #AC9D82;
    margin: 16px 0;
    font-size: 16px;
}
/*********Fin Estilos Register******************/


/*********Estilos Login******************/


.form-login {
    margin-bottom: 200px;
    margin-top: 100px;
}

/*********Fin Estilos Login******************/


/*********Estilos ProductDetail******************/
.productDetail-img{
    width: 100%;
}
.productDetail-imgPrincipal{
    width: 100%;
    
    box-shadow: 2px 2px 8px 0 rgb(0 0 0 / 20%);
    background: #fff
}
.productDetail-carrusel{
    display: flex;
    justify-content: space-around;
    margin-top: 15px;
}

.productDetail-carrusel img{
    width: 50px;
    padding: 3px;
    box-shadow: 2px 2px 8px 0 rgb(0 0 0 / 20%);
}
.productDetail-content{
    padding: 0 8px;
    margin-top: 20px;
}
.productDetail-content h2{
 font-size: 28px;
}
.productDetail-precio {
    color: #e02b27;
    font-weight: 600;
    font-size: 30px;
    margin: 5px 0;
}
.productDetail-form{
    font-size: 18px;
}
.productDetail-form label{
  display: block;
  margin: 15px 0;
  padding: 8px 0;
  
}
select[name="productDetail-talla"]
{
    width: 50px;
    text-align: center;
    box-shadow: 2px 2px 4px 0 rgb(0 0 0 / 20%);
    color: #7a7a7a;
    border: 1px solid rgba(0,0,0,.25);
    height: 40px;
}
input[name="productDetail-cantidad"]
{
   width: 50px;
   text-align: center;
   box-shadow: 2px 2px 4px 0 rgb(0 0 0 / 20%);
   color: #7a7a7a;
   border: 1px solid rgba(0,0,0,.25);
   height: 40px;
}

input[name="productDetail-btn-agregar-carrito"]
{
    display: block;
    background-color: var(--azul);
    color: white;
    padding: 8px 10px;
    width: 100%;
    border: none;
    border-radius: 5px;
    max-width: 350px;
    margin: 0 auto;
    font-size: 20px;
    font-weight: 600;
    cursor: pointer;
}

.productDetail-caracteristicas {
    margin-top: 20px;
    padding: 5px 20px;
    background: #f7f7f7;
    border-radius: 10px;
    border: 1px solid #e2e2e2;
}
.productDetail-caracteristicas strong{
    font-size: 22px;
    display: block;
    margin-bottom: 5px;
}
.productDetail-caracteristicas p{
    text-align: left;
    font-size: 18px;
}
/*********Fin Estilos ProductDetail******************/


/*********Estilos ProductCart******************/
.cart-list-product{
    width: 100%;
}
.cart-product {
    border-bottom: 1px solid var(--gris-oscuro);
    padding: 8px 0;
}
.cart-product-cabecera{
    display: none;
}
.cart-product-top{
display: flex;
}
.cart-product-top img{
    width: 60px;  
    max-width: 80px;
    padding: 3px;
    border: 1px solid var(--celeste);
    margin-right: 15px;
}
.cart-product-detail{
  font-size: 16px;
}

.cart-product-detail h3{
  font-size: 22px;
}
.cart-product-detail .link-delete-cart-product{
    text-decoration: none;
    color: #bc0000;
    font-size: 15px;
}
.cart-product-bottom{
    display: flex;
    justify-content: space-between;
    margin-top: 15px;
    text-align: center;
}
.cart-product-title{
    color: black;
    font-weight: 600;
}

.cart-resume{
background-color: var(--gris-claro);
color: black;
margin-top: 20px;
padding: 10px 10px;
}
.cart-resume button{
    display: block;
    background-color: var(--azul);
    color: white;
    padding: 8px 10px;
    width: 100%;
    border: none;
    border-radius: 5px;
    max-width: 350px;
    margin: 0 auto;
}
.cart-resume div{
    padding: 5px 0;
}
.subtotal, .total, .envio {
    display: flex;
    justify-content: space-between;
}
.total{
    border-top: 1px solid var(--gris-oscuro);
    font-size: 20px;
}
.total span{
    font-size: 20px;
    font-weight: 600;
}
/*********Fin Estilos ProductCart******************/

/*********Estilos ProductsLis******************/
.productsList {
    width: 100%;
}
.productList-item {
    width: 100%;
    margin-bottom: 20px;
    border: 1px solid #ccc;
    padding: 8px;
}
.productList-item img{
 width: 100%;
}

/*********Fin Estilos ProductsLis******************/
/*********Estilos Home************************/
.imagen-centrada {
    text-align: center;
    width: 100%;
    margin-top: 10px;
    margin-bottom: 10px;
}
.texto-centrado {
    text-align: center;
}
.producto-centrado {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin-top: 15px;
    margin-bottom: 15px;
}
/*********Fin Estilos Home************************/

/*estilos footer*/
footer{
    
    text-align: center;
}
.footer-top{
    background-color: var(--gris-claro);
    padding: 15px 40px;
}
.footer-top i{
  font-size: 30px;
  margin-top: 8px;
}
.footer-top p{
    margin-top: 15px;
}
.footer-top img{
    width: 130px;
    display: block;
    margin: 0 auto;
    padding: 8px 0;
}
.footer-top a{
    text-decoration: none;
    color: black;
}
.footer-bottom{
    background-color: var(--gris-oscuro);
    padding: 15px 40px;
    font-size: 18px;
    font-weight: 500;
}
.footer-bottom ul{
    list-style: none;
    text-align: left;
}
.footer-bottom ul li{
    margin: 8px 0;
}
.footer-bottom a{
    text-decoration: none;
    color: white;
}
.footer-bottom a:hover{
    text-decoration: underline;
}
/*fin estilos footer*/
 
@media (min-width:769px){
   /* Estilos header*/
   .header-left{
       display: flex;
       align-items: center;
   }
   .header-left form {
       display: inline-block;
       margin-left: 10px;
   }
   .header-center h2{
    font-size: 38px;
}
   input[name="buscador"]{
    height: 35px;
    border: 1px solid var(--gris-oscuro);
    border-radius: 4px;
    padding: 0 5px 0 10px;
    }

    input[name="buscador"]:focus{
        border-color:var(--celeste);
        outline: 0;
    }

   .header-right .fa-user{
       display: none;
   }
   .registrarse, .ingresar{
       display: inline-block;
       padding: 8px 10px;
       background-color: var(--amarillo);
       color: white;
       text-decoration: none;
       font-weight: 600;
       border-radius: 8px;
       margin: 0 5px;
   }
   .registrarse:hover{
       background-color: #EAAB00;
   }
   .ingresar:hover{
    background-color: #EAAB00;
   }
  
   /*fin estilos header*/ 




/*********Estilos Register******************/
/*********Fin Estilos Register******************/


/*********Estilos Login******************/

/*********Fin Estilos Login******************/


/*********Estilos ProductDetail******************/
.contenedor-productDetail{
    display: flex;
    justify-content: space-between;
}
.productDetail-img{
    width: 40%;
}
.productDetail-content{
    width: 55%;
}

/*********Estilos ProdcutList******************/
.productsList {
   display: flex;
   justify-content: space-between;
   flex-wrap: wrap;
}
.productList-item {
    width: 23%;
}


/*********Fin Estilos ProductList******************/

/*********Fin Estilos ProductDetail******************/


/*********Estilos ProductCart******************/
.cart-product-cabecera{
    display: flex;
    justify-content: space-between;
    font-size: 18px;
    font-weight: 600;
}
.cart-product-cab-left{
    width: 35%; 
}
.cart-product-cab-right{
    width: 60%;
    display: flex;
    justify-content: space-between;
    text-align: center;
}
.contenedor-main-cart{
    display: flex;
    justify-content: space-between;
}
.cart-list-product{
    width: 70%;
}
.cart-resume{
    width: 25%;
    margin-top: 0;
}
.cart-product{
    display: flex;
    justify-content: space-between;
}
.cart-product-top{
width: 35%;
}
.cart-product-bottom{
width: 60%;
margin-top: 0;
}
.cart-product-title{
    display: none;
}
/*********Fin Estilos ProductCart******************/




   /* Estilos footer*/
   .footer-bottom ul{
       display: flex;
       justify-content: space-around;
       height: 40px;
   }
   /*fin estilos footer*/ 
}

@media (min-width:1200px){
     /*Estilos header*/   
header{
    padding-left: 40px;
    padding-right: 40px;
}

input[name="buscador"]{
    width: 250px;
    max-width: 300px;
 }
   /*fin estilos header*/ 



 /*********Estilos Register******************/
/*********Fin Estilos Register******************/


/*********Estilos Login******************/
/*********Fin Estilos Login******************/


/*********Estilos ProductDetail******************/

/*********Fin Estilos ProductDetail******************/


/*********Estilos ProductCart******************/
/*********Fin Estilos ProductCart******************/



}
