<header>
    <div class="header-left">
        <i class="fas fa-bars icono-menu"></i>
        <form action="/buscador" class="buscador">
            <input type="text" name="buscador" id="buscador" placeholder="Buscar...">
        </form>
    </div>
    <div class="header-center">
        <h2>BEQUIA</h2>
    </div>
    <div class="header-right">
        <a href="/login" class="link-user"><i class="fa-solid fa-user"></i></a>
        <a href="/register" class="registrarse">REGISTRARSE</a>
        <a href="/login" class="ingresar">INGRESAR</a> 
        <a href="/carrito" class="link-cart"><i class="fa-solid fa-cart-shopping"></i></a>
        
        
    </div>

</header>