<!DOCTYPE html>
<html lang="en">

    <%- include('./partialViews/head.ejs') %>

<body>
    
    <%- include('./partialViews/header.ejs') %>

    <main class="main-home">
        <section class="imagen-centrada">
            <img src="/images/main-beach2.jpg" alt="Playa">        
        </section>

        <h1 class="texto-centrado">Nuestras lineas de producto actual</h1>
            <section class="producto-centrado">
                <a href="#"><img src="/images/Productos/main-ojotas1.jpeg" alt="Ojotas"></a>
                <a href="#"><img src="/images/Productos/main-sombrero1.jpeg" alt="Sombreros"></a>
                <a href="#"><img src="/images/Productos/main-trajedebano.jpeg" alt="Trajes de baño"></a>
                <a href="#"><img src="/images/Productos/main-anteojos1.png" alt="Anteojos"></a>
            </section>

        <h1 class="texto-centrado">Algunos de nuestros favoritos</h1>
            <section class="producto-centrado">
                <article>
                    <a href="#"><img src="/images/Productos/main-ojotas2.jpeg" alt="Ojotas"></a>
                    <p>$9871</p>
                    <p>40% off</p>
                    <p>Ojotas Lindas</p>
                </article>
                <article>
                    <a href="#"><img src="/images/Productos/main-sombrero2.jpeg" alt="Sombreros"></a>
                    <p>$.-9871</p>
                    <p>40% off</p>
                    <p>Sombrero Lindo</p>
                </article>
                <article>
                    <a href="#"><img src="/images/Productos/main-trajedebano2.jpeg" alt="Trajes de baño"></a>
                    <p>$.-9871</p>
                    <p>40% off</p>
                    <p>Traje de baño Lindo</p>
                <article>
                </article>
                    <a href="#"><img src="/images/Productos/main-anteojos2.jpeg" alt="Anteojos"></a>
                    <p>$.-9871</p>
                    <p>40% off</p>
                    <p>Anteojos Lindos</p>
                </article>
            </section>


    </main>
   

    <%- include('./partialViews/footer.ejs') %>
</body>
</html>