<!DOCTYPE html>
<html lang="en">
    <%- include('./partialViews/head.ejs') %>

<body>

    <%- include('./partialViews/header.ejs') %>

<form action="login" method="GET"> 
    <section class ="fondo-formularios">
    <section class = "form-register form-login"> 
        <h4>Formulario login</h4>
        <input class = "controls" type = "text" name="email_usuario" id="email_usuario" placeholder="Ingrese su correo">
        <input class = "controls" type = "password" name="password_usuario" id="password_usuario" placeholder="Ingrese su contraseña">
        <input class = "botons" type = "submit" value="Ingresar">

    </section>
    </section>
</form>

    <%- include('./partialViews/footer.ejs') %>
    
</body>
</html>